@model DershaneTakipSistemi.Models.Personel

@{
    {
        ViewData["Title"] = "Personel Sil";
    }
}

<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

<h3>Bu personeli silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>Silinecek Personel Bilgileri</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Soyad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gorevi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gorevi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AktifMi)
        </dt>
        <dd class="col-sm-10">
            @(Model.AktifMi ? "Evet" : "Hayır")
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
    </form>
</div>
