@model DershaneTakipSistemi.Models.KasaHareketi

@{
    ViewData["Title"] = "Kasa Hareketini Sil";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger mt-4">
    <h5>Bu kasa hareketini kalıcı olarak silmek istediğinizden emin misiniz?</h5>
    <p>Bu işlem geri alınamaz.</p>
</div>

<div>
    <h4>Silinecek Hareket Bilgileri</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd class="col-sm-9">
            @Model.Tarih.ToString("dd.MM.yyyy")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Tutar)
        </dt>
        <dd class="col-sm-9">
            @Model.Tutar.ToString("C")
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Kategori)
        </dd>
        <dt class="col-sm-3">
            İlişkili Kişi
        </dt>
        <dd class="col-sm-9">
             @(Model.Ogrenci?.AdSoyad ?? Model.Personel?.AdSoyad ?? "İlişkili Kişi Yok")
        </dd>
    </dl>
    
    <form asp-action="Delete" class="mt-4">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Evet, Sil</button>
        <a asp-action="Index" class="btn btn-secondary">İptal Et ve Listeye Dön</a>
    </form>
</div>
